body {
  margin: 0;
  padding: 0;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
ol, ul {
	list-style: none;
}